<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341825305099-2jl1vtmvi5bgp770p41c9h87egc0mlvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341825305099-2jl1vtmvi5bgp770p41c9h87egc0mlvu</string>
	<key>API_KEY</key>
	<string>AIzaSyCRGJtwuRi2NE6-Z3reeaRzT10QnhzoTgY</string>
	<key>GCM_SENDER_ID</key>
	<string>341825305099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fukutaku.yannen</string>
	<key>PROJECT_ID</key>
	<string>yannen-e2ec0</string>
	<key>STORAGE_BUCKET</key>
	<string>yannen-e2ec0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341825305099:ios:5a08c12b75d851de9aa50e</string>
</dict>
</plist>